<?xml version="1.0" encoding="UTF-8"?>
<web-app metadata-complete="false" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>WebShop.loginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <servlet-name>PlacanjeServlet</servlet-name>
    </filter-mapping>
    <servlet>
        <servlet-name>PriviServlet</servlet-name>
        <servlet-class>Servleti.PriviServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexServlet</servlet-name>
        <servlet-class>Servleti.IndexServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>KategorijaServlet</servlet-name>
        <servlet-class>Servleti.KategorijaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpisniServlet</servlet-name>
        <servlet-class>Servleti.UpisniServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AutentifikacijskiServlet</servlet-name>
        <servlet-class>Servleti.AutentifikacijskiServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OdjavaServlet</servlet-name>
        <servlet-class>Servleti.OdjavaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProizvodServlet</servlet-name>
        <servlet-class>Servleti.ProizvodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DodajUKosaricuServlet</servlet-name>
        <servlet-class>Servleti.DodajUKosaricuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>kosaricaServlet</servlet-name>
        <servlet-class>Servleti.kosaricaServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pobrisiStavkuServlet</servlet-name>
        <servlet-class>Servleti.pobrisiStavkuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PromjenaKolicineServlet</servlet-name>
        <servlet-class>Servleti.PromjenaKolicineServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PlacanjeServlet</servlet-name>
        <servlet-class>Servleti.PlacanjeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PotvrdiKupnjuServlet</servlet-name>
        <servlet-class>Servleti.PotvrdiKupnjuServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PredledKupnjiServlet</servlet-name>
        <servlet-class>Servleti.PredledKupnjiServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KategorijaServlet</servlet-name>
        <url-pattern>/KategorijaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpisniServlet</servlet-name>
        <url-pattern>/UpisniServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AutentifikacijskiServlet</servlet-name>
        <url-pattern>/AutentifikacijskiServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OdjavaServlet</servlet-name>
        <url-pattern>/OdjavaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProizvodServlet</servlet-name>
        <url-pattern>/ProizvodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DodajUKosaricuServlet</servlet-name>
        <url-pattern>/DodajUKosaricuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>kosaricaServlet</servlet-name>
        <url-pattern>/kosaricaServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pobrisiStavkuServlet</servlet-name>
        <url-pattern>/pobrisiStavkuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PromjenaKolicineServlet</servlet-name>
        <url-pattern>/PromjenaKolicineServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PriviServlet</servlet-name>
        <url-pattern>/PriviServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PlacanjeServlet</servlet-name>
        <url-pattern>/PlacanjeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PotvrdiKupnjuServlet</servlet-name>
        <url-pattern>/PotvrdiKupnjuServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PredledKupnjiServlet</servlet-name>
        <url-pattern>/PredledKupnjiServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>IndexServlet</welcome-file>
    </welcome-file-list>
</web-app>
